<h2> Playlist Options </h2>
<p> Festival Buddy will generate a Spotify playlist
  with each artist's top songs based on your specification </p>

<h4> Number of songs per artist: </h4>

<h4> Filter By: Genre </h4>
